@charset "UTF-8";
.modalBg {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(197, 193, 193, 0.7);
  top: 0;
  left: 0;
  z-index: 99;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  max-width: 700px;
  max-height: 700px;
  background: #fff;
  z-index: 100;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}

.modal .xIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal h2 {
  text-align: center;
  font-size: 30px;
  color: cadetblue;
  margin-bottom: 10px;
}

.modal .date {
  text-align: center;
  font-size: 13px;
  color: cadetblue;
  margin-bottom: 30px;
}

.modal .workInfo .txtBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 20px;
}

.modal .workInfo .txtBox p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: cadetblue;
  font-size: 16px;
  font-weight: bold;
}

.modal .workInfo .txtBox p span {
  font-size: 13px;
  font-weight: normal;
}

.modal .workInfo .desc p {
  height: 150px;
  overflow-y: scroll;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: cadetblue;
  font-size: 13px;
}

.modal .workInfo .desc p::-webkit-scrollbar {
  width: 8px;
}

.modal .workInfo .desc p::-webkit-scrollbar-thumb {
  background: #217af4;
  /* 스크롤바의 색상 */
  border-radius: 10px;
}

.modal .btns {
  margin-top: 20px;
  text-align: center;
}

.modal .btns button {
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
}

.modal .btns .btn1 {
  background: #6f85fa;
}

.modal .btns .btn2 {
  background: #b8bb25;
}

.modal .btns .btn3Info {
  margin-bottom: 10px;
  font-size: 13px;
  color: #217af4;
}

.modal .btns .btn3 {
  background: #fc5f5f;
}

.giveupModalBg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  z-index: 101;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  background: rgba(207, 206, 206, 0.5);
}

.giveupModal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #414646;
  width: 80%;
  max-width: 500px;
  z-index: 102;
  padding: 30px 0;
  border-radius: 13px;
}

.giveupModal h3 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.giveupModal p {
  color: red;
  width: 50%;
  text-align: center;
  margin: 30px auto 0;
  font-size: 13px;
}

.giveupModal .btns {
  margin-top: 20px;
  width: 70%;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.giveupModal .btns .btn {
  width: 40%;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.giveupModal .btns .btn:first-of-type {
  background: #fc5f5f;
}

.giveupModal .btns .btn:last-of-type {
  background: #5f78fc;
}

@media (min-width: 319px) and (max-width: 757px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    max-width: 700px;
    max-height: 700px;
    background: #fff;
    z-index: 100;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
  }
  .modal .xIcon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  .modal h2 {
    text-align: center;
    font-size: 24px;
    color: cadetblue;
    margin-bottom: 10px;
  }
  .modal .date {
    text-align: center;
    font-size: 13px;
    color: cadetblue;
    margin-bottom: 30px;
  }
  .modal .workInfo .txtBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 10px;
  }
  .modal .workInfo .txtBox p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: cadetblue;
    font-size: 16px;
    font-weight: bold;
  }
  .modal .workInfo .txtBox p span {
    font-size: 13px;
    font-weight: normal;
  }
  .modal .workInfo .desc p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: cadetblue;
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.module.css.map */
