.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 0 0;
}

.container .aside {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container .aside h1,
.container .aside h2 {
  text-align: center;
  color: cadetblue;
}

.container .aside h1 {
  margin-bottom: 30px;
}

.container .aside h2 {
  margin-bottom: 100px;
}

.container .aside .studyRooms {
  width: 80%;
  margin: 50px auto 0;
}

.container .aside .studyRooms .studyRoom {
  margin-bottom: 30px;
  background: #fceaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 13px;
  overflow: hidden;
}

.container .aside .studyRooms .studyRoom .studyType {
  background: #f19c9c;
  padding: 40px 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .aside .studyRooms .studyRoom .studyInfo {
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container .aside .studyRooms .studyRoom .studyInfo .studyTitle {
  margin-bottom: 15px;
}

.container .aside .studyRooms .studyRoom .studyInfo .studyTitle p {
  word-break: break-all;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 15px;
  color: #6f6d6d;
}

.container .aside .studyRooms .studyRoom .studyInfo .studyMember p {
  text-align: center;
  font-weight: bold;
}

.container .aside .studyRooms .studyRoom .studyInfo .studyMember p span {
  color: #86aa76;
}

.container .mainBox {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container .mainBox .mainBg {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.container .mainBox .mainBg img {
  width: 100%;
}

@media (min-width: 319px) and (max-width: 757px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 0 0;
  }
  .container .aside {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .container .aside h1,
  .container .aside h2 {
    text-align: center;
    color: cadetblue;
  }
  .container .aside h1 {
    margin-bottom: 30px;
  }
  .container .aside h2 {
    margin-bottom: 30px;
  }
  .container .aside .studyRooms {
    width: 80%;
    margin: 50px auto 0;
  }
  .container .aside .studyRooms .studyRoom {
    margin-bottom: 30px;
    background: #fceaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 13px;
    overflow: hidden;
  }
  .container .mainBox {
    display: none;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 100px 0 0;
  }
  .container .aside {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .container .aside h1,
  .container .aside h2 {
    text-align: center;
    color: cadetblue;
  }
  .container .aside h1 {
    margin-bottom: 30px;
  }
  .container .aside h2 {
    margin-bottom: 100px;
  }
  .container .aside .studyRooms {
    width: 80%;
    margin: 50px auto 0;
  }
  .container .aside .studyRooms .studyRoom {
    margin-bottom: 30px;
    background: #fceaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 13px;
    overflow: hidden;
  }
  .container .mainBox {
    display: none;
  }
}
/*# sourceMappingURL=style.module.css.map */
